# macOS
.DS_Store

# Xcode
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xccheckout

# Swift Package Manager
.build/

# Archives / builds
*.xcarchive
*.ipa
*.dSYM
/ZTSpeechToText/Resource/openai_whisper-small
/ZTSpeechToText/Resource/openai_whisper-tiny
/ZTSpeechToText/Resource

# Local bundled LLM weights
*.gguf
ZTSpeechToText/ZTSpeechToTextApp.swift
